@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kumbh+Sans:wght@400;700&family=Merriweather:ital@0;1&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Space+Mono&family=Work+Sans:wght@400;800&display=swap');

body {
    display: flex;
    align-items: center;
    background-image: url(./bg-pattern-top.svg), url(./bg-pattern-bottom.svg);
    background-color: hsl(185 75% 39%);
    min-height: 100vh;
    background-repeat: no-repeat, no-repeat;
    background-position: right 40vw bottom 50vh, left 40vw top 50vh;
}

main {
    width: 100vw;
    height: 100vh;      
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;   
}

main .card {
    width: 326px;
    height: 374px;   
    border-radius: 15px;
    background: url(./bg-pattern-card.svg) no-repeat;
    margin: 0 auto;
    background-color: white;
    
}

main .card .profpic {
    width: 96px;
    height: 96px;
    border: 5px solid #FFFFFF;
    margin-top: 92px;
    margin-left: 115px;
    margin-right: 115px;
    margin-bottom: 24px;
    border-radius: 50%;
}

main .card h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;  
}

main .card h1 .name {
    font-family: Kumbh Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
    color: #2E3349;
}

main .card h1 .age {
    font-family: Kumbh Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.32px;
    color: #6B7082;
}

main .card p {
    text-align: center;
    margin-top: 13px;
    font-family: Kumbh Sans;
    font-size: 14px;
    font-weight: 400;
    Line-height: 17.36px;
    color: #6B7082;
}

main .card .footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    height: 37px;
    width: 70%;
    margin: auto;
}

.followers, .likes, .photos {
    margin: 0 auto;
    font-family: Kumbh Sans;   
}

.count {
    color: #2E3349;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
}

.nouns {
    text-align: center;
    color: #6B7082;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.4px;
}

@media screen and (min-width: 667px) {

    body {
        width: 1440px;
        height: 720px;
        max-width: 100%;
        background-size: 100%;
    }
    main .card {
        width: 350px;    
    }
}


